
<h1>Registros <small> Generales</small></h1>
<hr>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded ">


<div class="btn-group " role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn btn-danger " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtrar por tipo: {{tipoActivo.nombre}}
    </button>

    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a *ngFor="let items of tipo" class="dropdown-item" (click)="filtroTipo(items)">{{items.nombre}}</a>

    </div>
    
</div>

<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ver ultimas: {{ultimoActivo.nombre}}
    </button>

    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a *ngFor=" let item of ultimas" class="dropdown-item" (click)="filtroUltimo(item)"> {{item.nombre}}</a>

    </div>


</div>

<div class="form-inline my-2 my-lg-0">
  <input type="text" class="form-control mr-sm-2" (keyup)= "filtroDec($event)" placeholder="Buscar descripcion:">
</div>

</nav>

<div class="card-columns animated fadeIn">
    <div class="card" *ngFor="let alarma of (listado | async)?.reverse(); let i = index">
         <agm-map *ngIf="alarma.ver" [latitude]="alarma.lat" [longitude]="alarma.lon" [zoom]="15" [scrollwheel]="false" [mapDraggable]="false">
            <agm-marker [latitude]="alarma.lat" [longitude]="alarma.lon"></agm-marker>
          </agm-map>
        <div class="card-body">
          <h4 class="card-title">{{alarma.tipo}}</h4>
          <p class="card-text">Detalles: {{alarma.descripcion}}</p>
          <p class="card-text">Fecha: {{alarma.tiempo | date }}</p>
          <p class="card-text">Junta de vecinos: {{alarma.junta}}</p>
          <button type="button" class="btn btn-outline-danger btn-block" (click)="alarma.ver=!alarma.ver">
              Ver ubicación.
          </button> 
        </div>
        
      </div>
    </div>