<h1>Heroes <small>marvel y dc</small></h1>
  <hr>

  <div class="card-colums" style="width: 20rem;">
      <!-- FOR DE LA LISTA DE GET -->
      <div class="card" *ngFor="let heroe of heroes; let i = index" style="width: 20rem;">
        <!-- arreglo de imagenes heroe -->
          <img class="card-img-top img fluid" [src]="heroe.img" [alt]="heroe.nombre">
          <div class="card-block">
            <h4 class="card-title"> {{ heroe.nombre }} </h4>
            <p class="card-text"> {{heroe.bio }} .</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

            <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block" >
              Ver más...
            </button> 
            <!-- Enrutamiento y carga del arreglo i de los heroes cargados en let = index  y indico
            que heroe y que id tiene-->
           <!--  <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">ver mas link </a> -->
          </div>
        </div>
  </div>
